@using Team1_Final_Project.Models.Purchases
@using Team1_Final_Project.Models.Identity
@using Microsoft.AspNet.Identity;

@model Team1_Final_Project.Models.Identity.AppUser


@{
    ViewBag.Title = "CheckoutPage";
    AppDbContext db = new AppDbContext();
    AppUser userLoggedIn = db.Users.Find(User.Identity.GetUserId());
}

<h5 style="color:red">@ViewBag.ErrorMessage</h5>

<h2>CheckoutPage</h2>

<h3>Songs</h3>

<table class="table">
    <tr>
        <th>
            Song Title
        </th>
        <th>
            Artists
        </th>
        <th>
            Average Rating
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>


    @foreach (var item2 in Model.SongsInShoppingCart)
    {
        <tr>
            <td>
                @item2.Song.SongName
            </td>
            <td>
                @item2.Song.SongArtists
            </td>
            <td>
                <!--Ratings -->
            </td>
            <td>
                @item2.Song.SongPrice
            </td>
            <td>
                @Html.ActionLink("Remove Song", "DeleteSong", new { SongID = item2.Song.SongID })
            </td>

        </tr>
    }

</table>

<h3>Albums</h3>

<table class="table">
    <tr>
        <th>
            Album Title
        </th>
        <th>
            Artists
        </th>
        <th>
            Average Rating
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

    @foreach (var item2 in Model.AlbumsInShoppingCart)
    {
        <tr>
            <td>
                @item2.Album.AlbumName
            </td>
            <td>
                @item2.Album.AlbumArtists
            </td>
            <td>
                <!--Ratings -->
            </td>
            <td>
                @item2.Album.AlbumPrice
            </td>
            <td>
                @Html.ActionLink("Remove Album", "DeleteAlbum", new { AlbumID = item2.Album.AlbumID })
            </td>
        </tr>
    }

</table>

<h3>Totals</h3>

@{
    decimal Subtotal = ViewBag.Subtotal * 0.9175m;
    decimal Tax = Subtotal * 0.0825m;
    decimal GrandTotal = Subtotal + Tax;
}

<table>
    <th>Item</th>
    <th>Amount</th>
    <tr>
        <td><em>Subtotal</em></td>
        <td> @String.Format("{0:C}", Subtotal)</td>
    </tr>
    <tr>
        <td><em>Tax</em></td>
        <td> @String.Format("{0:C}", Tax)</td>
    </tr>
    <tr>
        <td><em>Grand Total &nbsp; &nbsp; &nbsp;</em></td>
        <td> @String.Format("{0:C}", GrandTotal) </td >
    </tr >
</table >

<br />
<br />  

@using (Html.BeginForm("Checkout", "ShoppingCarts", FormMethod.Post))
{
    <div class="form-group">

        <p>Select Credit Card</p>
        @if (userLoggedIn.CreditCards.Count() > 0)
        {

            foreach (CreditCard card in userLoggedIn.CreditCards)
            {
                    <label class="form-check">
                        



                        
                        @Html.RadioButton("SelectedCreditCardID", card.CreditCardID) **** **** **** @card.CreditCardNumber.Substring(card.CreditCardNumber.Length-4) @card.CreditCardType.ToString().ToUpper()


                        @*@Html.RadioButton("**** **** **** " + card.CreditCardNumber.Substring(card.CreditCardNumber.Length - 5, card.CreditCardNumber.Length - 1) + " " + card.CreditCardType.ToString().ToUpper(), card.CreditCardID, false, new { @class = "form-check-input" })  <br />*@
                    </label>

            }
            <br/>

        }
        @if (userLoggedIn.CreditCards.Count < 2)
            {
                @Html.ActionLink("Add New Credit Card", "AddCreditCard", "CreditCards", null, null)
            }
        <br/>
        <input type="submit" value="Confirm Checkout" />

    </div>

}

    




