@model Team1_Final_Project.Models.Purchases.ShoppingCart

@{
    ViewBag.Title = "Index";
}
@if (ViewBag.ErrorMessage != null)
{
    <p style="color:red">@ViewBag.ErrorMessage</p>
}

<h2>Shopping Cart</h2>

<h3>Songs</h3>

<table class="table">
    <tr>
        <th>
            Song Title
        </th>
        <th>
           Artists
        </th>
        <th>
            Average Rating
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>


    @foreach (var item2 in Model.Songs)
    {
    <tr>
        <td>
            @item2.SongName
        </td>
        <td>
            @item2.SongArtists
        </td>
        <td>
            <!--Ratings -->
        </td>
        <td>
            @item2.SongPrice
        </td>
        <td>
            @Html.ActionLink("Remove Song", "DeleteSong", new { SongID = item2.SongID })
        </td>

    </tr>
        }
    
</table>

<h3>Albums</h3>

<table class="table">
    <tr>
        <th>
            Album Title
        </th>
        <th>
            Artists
        </th>
        <th>
            Average Rating
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

    @foreach (var item2 in Model.Albums)
        {
        <tr>
            <td>
                @item2.AlbumName
            </td>
            <td>
                @item2.AlbumArtists
            </td>
            <td>
                <!--Ratings -->
            </td>
            <td>
                @item2.AlbumPrice
            </td>
            <td>
                @Html.ActionLink("Remove Album", "DeleteAlbum", new { AlbumID = item2.AlbumID })
            </td>
        </tr>
        }
    
</table>

<h3>Checkout!</h3>

<a class="btn btn-primary" href="~/Controllers/ShoppingCarts/CheckoutPage">Check out!</a>

<h3>Gift to Friend!</h3>
@Html.BeginForm("GiftCheckoutPage", "ShoppingCart", FormMethod.Get) 
{
    <div class="form-group">
        <input type="text" name="FriendEmail" class="form-control" placeholder="Email"> 
    </div>
    
    <input type="submit" value="Gift Checkout" />


}