@using Team1_Final_Project.Models.Purchases
@using Team1_Final_Project.Models.Identity
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
    AppDbContext db = new AppDbContext();
    AppUser userLoggedIn = db.Users.Find(User.Identity.GetUserId());
}
@if (ViewBag.ErrorMessage != null)
{
    <p style="color:red">@ViewBag.ErrorMessage</p>
}

<h2>Shopping Cart</h2>


<h3>Songs</h3>

<table class="table">
    <tr>
        <th>
            Song Title
        </th>
        <th>
           Artists
        </th>
        <th>
            Average Rating
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>




    @foreach (var item2 in userLoggedIn.SongsInShoppingCart)
    {
    <tr>
        <td>
            @item2.Song.SongName
        </td>
        @{string StrSongArtists = "";}
        @{int count2 = 0;}
        @foreach (var item3 in item2.Song.SongArtists)
        {
            count2 += 1;
            if (count2 > 1)
            {
                StrSongArtists = StrSongArtists + ", ";
            }
            StrSongArtists += item3.ArtistName;

        }
        <td>@StrSongArtists</td>

        @{string AverageSongRatings = "N/A";}
        @{decimal count = 0;}
        @{decimal SumRatings = 0;}
        @foreach (var item3 in item2.Song.SongRatings)
        {
            SumRatings += item3.RatingNumber;
            count += 1;
            if (count != 0)
            {
                AverageSongRatings = Decimal.Round((SumRatings / count), 1).ToString();
            }
        }
        <td>@AverageSongRatings</td>
        <td>
            @item2.Song.SongPrice
        </td>
        <td>
            @Html.ActionLink("Remove Song", "DeleteSong", new { SongID = item2.Song.SongID })
        </td>

    </tr>
    }
    
</table>

<h3>Albums</h3>

<table class="table">
    <tr>
        <th>
            Album Title
        </th>
        <th>
            Artists
        </th>
        <th>
            Average Rating
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

    @foreach (var item2 in userLoggedIn.AlbumsInShoppingCart)
    {
        <tr>
            <td>
                @item2.Album.AlbumName
            </td>
            @{string StrAlbumArtists = "";}
            @{int count2 = 0;}
            @foreach (var item3 in item2.Album.AlbumArtists)
            {
                count2 += 1;
                if (count2 > 1)
                {
                    StrAlbumArtists = StrAlbumArtists + ", ";
                }
                StrAlbumArtists += item3.ArtistName;
            }
            <td>@StrAlbumArtists</td>

            @{string AverageAlbumRatings = "N/A";}
            @{decimal count = 0;}
            @{decimal SumRatings = 0;}
            @foreach (var item3 in item2.Album.AlbumRatings)
            {
                SumRatings += item3.RatingNumber;
                count += 1;
                if (count != 0)
                {
                    AverageAlbumRatings = Decimal.Round((SumRatings / count), 1).ToString();
                }
            }
            <td>@AverageAlbumRatings</td>
            <td>
                @item2.Album.AlbumPrice
            </td>
            <td>
                @Html.ActionLink("Remove Album", "DeleteAlbum", new { AlbumID = item2.Album.AlbumID })
            </td>
        </tr>
    }
    
</table>



<h3>Checkout!</h3>

@Html.ActionLink("Check out", "CheckoutPage", "ShoppingCarts", null, new { @class = "btn btn-primary" })
@*<a class="btn btn-primary" href="~/Controllers/ShoppingCarts/CheckoutPage">Check out!</a>*@

<h3>Gift to Friend!</h3>
@using (Html.BeginForm("GiftCheckoutPage", "ShoppingCart", FormMethod.Get))
{
    <div class="form-group">
        <input type="text" name="FriendEmail" class="form-control" placeholder="Email">
    </div>

    <input type="submit" value="Gift Checkout" />
}




