@model IEnumerable<Team1_Final_Project.Models.Purchases.ShoppingCart>

@{
    ViewBag.Title = "Index";
}

<h2>Shopping Cart</h2>

<h3>Songs</h3>

<table class="table">
    <tr>
        <th>
            Song Title
        </th>
        <th>
            Artist
        </th>
        <th>
            Rating
        </th>
        <th>
            Price
        </th>
    </tr>

@foreach (var item in Model)
{
    @foreach (var item1 in item.Songs)
    {
    <tr>
        <td>
            @item1.SongName
        </td>
        <td>
            @item1.SongArtists
        </td>
        <td>
            <!--Ratings -->
        </td>
        <td>
            @item1.SongPrice
        </td>
        <td>
            @Html.ActionLink("Remove Song", "DeleteSong", new { Songid = item1.SongID })
        </td>
    </tr>
        }
    }
</table>

<h3>Albums</h3>

<table class="table">
    <tr>
        <th>
            Album Title
        </th>
        <th>
            Artist
        </th>
        <th>
            Rating
        </th>
        <th>
            Price
        </th>
    </tr>

    @foreach (var item in Model)
    {
        @foreach (var item2 in item.Albums)
        {
        <tr>
            <td>
                @item2.AlbumName
            </td>
            <td>
                @item2.AlbumArtists
            </td>
            <td>
                <!--Ratings -->
            </td>
            <td>
                @item2.AlbumPrice
            </td>
            <td>
                @Html.ActionLink("Remove Album", "DeleteAlbum", new { Albumid = item2.AlbumID })
            </td>
        </tr>
        }
    }
</table>