@model Team1_Final_Project.Models.Music.Song
@using Microsoft.AspNet.Identity
@using Team1_Final_Project.Models.Identity



@{
    ViewBag.Title = "Details";
    // add dbcontext
    AppDbContext db = new AppDbContext();
    AppUser userLoggedIn = db.Users.Find(User.Identity.GetUserId());
}

<h2>Details</h2>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SongName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SongName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SongPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SongPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SongDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SongDiscount)
        </dd>

        <!--Create Table-->
        <table class="table table-bordered">
            <tr>
                <th>
                    Genre
                </th>
            </tr>
            @foreach (var item in Model.SongGenres)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.GenreName)</td>
                </tr>
            }
        </table>
        <br />

        <!--Create Table-->
        <table class="table table-bordered">
            <tr>
                <th>
                    Artist Name
                </th>
            </tr>
            @foreach (var item in Model.SongArtists)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ArtistName)</td>
                </tr>
            }
        </table>

        <table class="table table-bordered">
            <tr>
                <th>
                    Artist Name
                </th>
            </tr>
            @foreach (var item in Model.SongAlbums)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.AlbumName)</td>
                </tr>
            }
        </table>


    </dl>
</div>
<p>
    @if (userLoggedIn.Songs.Any(a => a.SongID == Model.SongID))
    {
        @Html.ActionLink("Add Review of Song", "AddSongReview", "Rating", new { SongID = Model.SongID }, null)
    }
    else
    {
        @Html.ActionLink("Add To Shopping Cart", "AddSong", "ShoppingCarts", new { SongID = Model.SongID }, null)

    }
    @Html.ActionLink("Edit", "Edit", new { id = Model.SongID })
    @Html.ActionLink("Back to List", "Index")
    
</p>
