@model Team1_Final_Project.Models.Music.Song
@using Microsoft.AspNet.Identity
@using Team1_Final_Project.Models.Identity
@using Team1_Final_Project.Models.Purchases



@{
    ViewBag.Title = "Details";
    // add dbcontext
    AppDbContext db = new AppDbContext();
    AppUser userLoggedIn = db.Users.Find(User.Identity.GetUserId());
    decimal TotalDiscountPercentage = 0.0m;
    foreach (Discount discount in Model.SongDiscounts)
    {
        if (discount.IsActiveDiscount)
        {
            TotalDiscountPercentage += discount.DiscountPercentage * (1 - TotalDiscountPercentage);
        }

    }
    decimal SalePrice = Model.SongPrice * (1 - TotalDiscountPercentage);

}

<h2>Details</h2>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SongName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SongName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SongPrice)
        </dt>

        <dd>
            @String.Format("{0:C}", Model.SongPrice)
        </dd>

        <dt>
            Song Discounts
        </dt>

        <dd>
            @String.Format("{0:P2}", @TotalDiscountPercentage)
        </dd>

        <dt>
            Sale Price
        </dt>

        <dd>
            @String.Format("{0:C}", SalePrice)
        </dd>

        <dt>
            Song Rating
        </dt>

            @{string AverageSongRatings = "N/A";}
            @{decimal count = 0;}
            @{decimal SumRatings = 0;}
            @foreach (var item in Model.SongRatings)
            {
                SumRatings += item.RatingNumber;
                count += 1;
                if (count != 0)
                {
                    AverageSongRatings = Decimal.Round((SumRatings / count), 1).ToString();
                }
            }
        <dd>@AverageSongRatings</dd>

        <br />

        <!--Create Table-->
        <table class="table table-bordered">
            <tr>
                <th>
                    Reviews
                </th>
                <th></th>
            </tr>
            @{decimal count2 = 0;}
            @foreach (var item in Model.SongRatings)
            {
                if (item.Review != "" && item.Review != null)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Review)</td>
                    @if (User.IsInRole("Customer"))
                    {
                        if (item.Customer.Id == userLoggedIn.Id)
                        {
                            <td>@Html.ActionLink("Edit Rating and Review", "EditSongReview", "Ratings", new { id = item.MusicRatingID }, null)</td>
                        }
                    }
                    else if(User.IsInRole("Manager") || User.IsInRole("Employee"))
                    {
                    <td>@Html.ActionLink("Edit Review", "EditSongReview", "Ratings", new { id = item.MusicRatingID }, null)</td>
                    }
                    
                </tr>
                }

                count2 += 1;
            }
            @if (count2 == 0)
            {
                <tr>
                    <td>N/A</td>
                </tr>
            }
        </table>

        <!--Create Table-->
        <table class="table table-bordered">
            <tr>
                <th>
                    Genre
                </th>
            </tr>
            @foreach (var item in Model.SongGenres)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.GenreName)</td>
                </tr>
            }
        </table>

        <!--Create Table-->
        <table class="table table-bordered">
            <tr>
                <th>
                    Artist Name
                </th>
            </tr>
            @foreach (var item in Model.SongArtists)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ArtistName)</td>
                </tr>
            }
        </table>

        <table class="table table-bordered">
            <tr>
                <th>
                    Album Name
                </th>
            </tr>
            @{decimal count3 = 0;}
            @foreach (var item in Model.SongAlbums)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.AlbumName)</td>
                </tr>
                count3 += 1;
            }
            @if (count3 == 0)
            {
                <tr>
                    <td>N/A</td>
                </tr>
            }
        </table>


    </dl>
</div>
<p>
    @if (userLoggedIn != null)
    {
        if (User.IsInRole("Customer"))
        {
            if (userLoggedIn.Songs.Any(a => a.SongID == Model.SongID))
            {
                @Html.ActionLink("Add Review of Song", "AddSongReview", "Ratings", new { id = Model.SongID }, null)
            }
            else
            {
                @Html.ActionLink("Add To Shopping Cart", "AddSong", "ShoppingCarts", new { SongID = Model.SongID }, null)
            }
        } 
    }
    
    <br /><br />
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.SongID })*@
    @Html.ActionLink("Back to List", "Index")
    
</p>
