@using Microsoft.AspNet.Identity
@using Team1_Final_Project.Models.Identity
@using Team1_Final_Project.Models.Purchases

@model IEnumerable<Team1_Final_Project.Models.Music.Song>

@{
    ViewBag.Title = "Index";


}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SongName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SongPrice)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    decimal TotalDiscounts = 0.0m;
    foreach (Discount discount in item.SongDiscounts)
    {
        if (discount.IsActiveDiscount)
        {
            TotalDiscounts += discount.DiscountAmount;

        }

    }
    decimal SalePrice = item.SongPrice - TotalDiscounts;
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SongName)
        </td>
        @if (SalePrice != item.SongPrice)
        {
            <td style="color:green">
                @SalePrice
            </td>
        }
        else
        {
            <td>
                @SalePrice
            </td>
        }

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SongID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SongID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SongID })
        </td>
    </tr>
}

</table>
