@model IEnumerable<Team1_Final_Project.Models.Music.Album>

@{
    ViewBag.Title = "AlbumSearchIndex";
}

<h2>Album Search Index</h2>

@*keep for manager?<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<br />
Displaying @ViewBag.ResultsCount of @ViewBag.TotalCount Records
<br /><br />

<!--Create Table-->
<table class="table table-bordered">
    <tr>
        <th>
            Album Title
        </th>
        <th>
            Artist
        </th>
        <th>
            Rating
        </th>
        <th>
            Price
        </th>
    </tr>
    @using (Html.BeginForm("SongAdvancedSearchResults", "Music", FormMethod.Get))
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.AlbumName, "Details", "Albums", new { id = item.AlbumID }, null)</td>

                    @{string StrAlbumArtists = "";}
                    @{int count2 = 0;}
                    @foreach (var item2 in item.AlbumArtists)
                    {
                        count2 += 1;
                        if (count2 > 1)
                        {
                            StrAlbumArtists = StrAlbumArtists + ", ";
                        }
                        StrAlbumArtists += item2.ArtistName;
                    }
                <td>@StrAlbumArtists</td>

                    @{string AverageAlbumRatings = "N/A";}
                    @{decimal count = 0;}
                    @{decimal SumRatings = 0;}
                    @foreach (var item2 in item.AlbumRatings)
                    {
                        SumRatings += item2.RatingNumber;
                        count += 1;
                        if (count != 0)
                        {
                            AverageAlbumRatings = (SumRatings / count).ToString();
                        }
                    }
                <td>@AverageAlbumRatings</td>

                <td>@item.AlbumPrice</td>
            </tr>
        }
    }

</table>
