@model IEnumerable<Team1_Final_Project.Models.Music.Album>

@{
    ViewBag.Title = "AlbumSearchIndex";
}

<h2>Album Search Index</h2>

@*keep for manager?<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<!--Create Table-->
<table class="table table-bordered">
    <tr>
        <th>
            Album Title
        </th>
        <th>
            Artist
        </th>
        <th>
            Rating
        </th>
        <th>
            Price
        </th>
    </tr>
    @using (Html.BeginForm("SongAdvancedSearchResults", "Music", FormMethod.Get))
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.AlbumName, "AlbumDetail", "Music", new { item.AlbumID }, null)</td>

                    @{string StrAlbumArtists = "";}
                    @{int count2 = 0;}
                    @foreach (var item2 in item.AlbumArtists)
                    {
                        StrAlbumArtists += item2.ArtistName;
                        count2 += 1;
                        if (count2 > 1)
                        {
                            StrAlbumArtists += ", ";
                        }
                    }
                <td>@StrAlbumArtists</td>

                    @{string StrAlbumRatings = "";}
                    @{int count = 0;}
                    @foreach (var item2 in item.AlbumRatings)
                    {
                        StrAlbumRatings += Convert.ToString(item2.RatingNumber);
                        count += 1;
                        if (count > 1)
                        {
                            StrAlbumRatings += ", ";
                        }
                    }
                <td>@StrAlbumRatings</td>

                <td>@item.AlbumPrice</td>
            </tr>
        }
    }

</table>
