@model IEnumerable<Team1_Final_Project.Models.Music.Artist>

@{
    ViewBag.Title = "ArtistSearchIndex";
}

<h2>Artist Search Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<!--Create Table-->
<table class="table table-bordered">
    <tr>
        <th>
            Artist Name
        </th>
        <th>
            Genre
        </th>
        <th>
            Rating
        </th>
    </tr>
    @using (Html.BeginForm("ArtistAdvancedSearchResults", "Music", FormMethod.Get))
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.ArtistName, "ArtistDetail", "Music", new { item.ArtistID }, null)</td>

                @{string StrArtistGenres = "";}
                @{int count2 = 0;}
                @foreach (var item2 in item.ArtistGenres)
                {
                    StrArtistGenres += item2.GenreName;
                    count2 += 1;
                    if (count2 > 1)
                    {
                        StrArtistGenres += ", ";
                    }
                }
                <td>@StrArtistGenres</td>
                
                @{string StrArtistRatings = "";}
                @{int count = 0;}
                @foreach (var item2 in item.ArtistRatings)
                {
                    StrArtistRatings += Convert.ToString(item2.RatingNumber);
                    count += 1;
                    if (count > 1)
                    {
                        StrArtistRatings += ", ";
                    }
                }
                <td>@StrArtistRatings</td>
                @*<td>@Html.ActionLink("Delete", "Delete", new { id = item.CreditCardID })</td>*@
            </tr>
        }
    }

</table>
