@model IEnumerable<Team1_Final_Project.Models.Music.Artist>

@{
    ViewBag.Title = "ArtistSearchIndex";
}

<h2>Artist Search Index</h2>

<br />
Displaying @ViewBag.ResultsCount of @ViewBag.TotalCount Records
<br /><br />

<!--Create Table-->
<table class="table table-bordered">
    <tr>
        <th>
            Artist Name
        </th>
        <th>
            Genre
        </th>
        <th>
            Rating
        </th>
    </tr>
    @using (Html.BeginForm("ArtistAdvancedSearchResults", "Music", FormMethod.Get))
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.ArtistName, "Details", "Artists", new { id = item.ArtistID }, null)</td>             

                @{string StrArtistGenres = "";}
                @{int count2 = 0;}
                @foreach (var item2 in item.ArtistGenres)
                {
                    count2 += 1;
                    if (count2 > 1)
                    {
                        StrArtistGenres = StrArtistGenres + ", ";
                    }
                    StrArtistGenres += item2.GenreName;
                }
                <td>@StrArtistGenres</td>
               
                @{string AverageArtistRatings = "N/A";}
                @{decimal count = 0;}
                @{decimal SumRatings = 0;}
                @foreach (var item2 in item.ArtistRatings)
                    {
                        SumRatings += item2.RatingNumber;
                        count += 1;
                        if (count != 0)
                        {
                            AverageArtistRatings = (SumRatings / count).ToString();
                        }
                    }
                <td>@AverageArtistRatings</td>
                @ViewBag.ErrorMessage

                @*<td>@Html.ActionLink("Delete", "Delete", new { id = item.CreditCardID })</td>*@
            </tr>
        }
    }

</table>
