@model Team1_Final_Project.Models.Music.MusicViewModel
@using Team1_Final_Project.Controllers;

@{
    ViewBag.Title = "BasicSearch";
}

<h2>SearchIndex</h2>


@using (Html.BeginForm())
{
    @*<p class="form-group">
        Search: @Html.TextBox("SearchString", null, new { @class = "form-control" }) <br />
        <input type="submit" value="Search" class="btn btn-default" />
        @Html.ActionLink("Advanced Search", "DetailedSearch", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Show All", "Index", null, new { @class = "btn btn-default" })
    </p>*@
    @*<p>
        Displaying @ViewBag.NumberSelectedCustomers of @ViewBag.NumberAllCustomers Customers.
    </p>*@

    <h2>Songs</h2>
    <table class="table">
        <tr>
            <th>
               Title
            </th>
            <th>
                Artist
            </th>
            <th>
                Rating
            </th>
            <th>
                Price
            </th>
        </tr>       
    @foreach (var item in Model.Songs)
    {
        <tr>
            <td>
                @Html.ActionLink(item.SongName, "SongDetail", "Music", new { item.SongID }, null)
            </td>
            <td>
                @foreach (var artist in item.SongArtists)
                {
                    @Html.ActionLink(artist.ArtistName, "ArtistDetail", "Music", new { artist.ArtistID }, null)
                    <br />
                }
            </td>
            <td>
                @*NEED TO ADD RATINGS TO THIS
                @item.SongRating
                *@
            </td>
            <td>
                @item.SongPrice
            </td>
        </tr>   
    }

    </table>

    <h2>Albums</h2>
        <table class="table">
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Artist
                </th>
                <th>
                    Rating
                </th>
                <th>
                    Price
                </th>
            </tr>
            @foreach (var item in Model.Albums)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.AlbumName, "AlbumDetail", "Music", new { item.AlbumID }, null)
                    </td>
                    <td>
                        @foreach (var artist in item.AlbumArtists)
                        {
                            @Html.ActionLink(artist.ArtistName, "ArtistDetail", "Music", new { artist.ArtistID }, null)
                            <br />
                        }
                    </td>
                    <td>
                        @*NEED TO ADD RATINGS TO THIS
                            @item.AlbumRating
                        *@
                    </td>
                    <td>
                        @item.AlbumPrice
                    </td>
                </tr>
            }

        </table>

        <h2>Artists</h2>
        <table class="table">
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Rating
                </th>
            </tr>
            @foreach (var item in Model.Artists)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.ArtistName, "ArtistDetail", "Music", new { item.ArtistID }, null)
                    </td>
                    <td>
                        @*NEED TO ADD RATINGS TO THIS
                            @item.AlbumRating
                        *@
                    </td>
                </tr>
            }

        </table>

}

