@model Team1_Final_Project.Models.Music.MusicViewModel
@using Team1_Final_Project.Controllers;

@{
    ViewBag.Title = "BasicSearch";
}

<h2>SearchIndex</h2>

<br />
    Displaying @ViewBag.ResultsCount of @ViewBag.TotalCount Records
<br /><br />


@using (Html.BeginForm())
{
    @*<p class="form-group">
        Search: @Html.TextBox("SearchString", null, new { @class = "form-control" }) <br />
        <input type="submit" value="Search" class="btn btn-default" />
        @Html.ActionLink("Advanced Search", "DetailedSearch", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Show All", "Index", null, new { @class = "btn btn-default" })
    </p>*@

    <h2>Songs</h2>
    <table class="table">
        <tr>
            <th>
               Title
            </th>
            <th>
                Artist
            </th>
            <th>
                Rating
            </th>
            <th>
                Price
            </th>
        </tr>       
    @foreach (var item in Model.Songs)
    {
        <tr>
            <td>
                @Html.ActionLink(item.SongName, "Details", "Songs", new { id = item.SongID }, null)
            </td>
            <td>
                @foreach (var artist in item.SongArtists)
                {
                    @Html.ActionLink(artist.ArtistName, "Details", "Artists", new { id = artist.ArtistID }, null)
                    <br />
                }
            </td>

            @{string AverageSongRatings = "N/A";}
            @{decimal count = 0;}
            @{decimal SumRatings = 0;}
            @foreach (var item2 in item.SongRatings)
            {
                SumRatings += item2.RatingNumber;
                count += 1;
                if (count != 0)
                {
                    AverageSongRatings = Decimal.Round((SumRatings / count), 1).ToString();
                }
            }
            <td>@AverageSongRatings</td>
            <td>
                @item.SongPrice
            </td>
        </tr>   
    }

    </table>

    <h2>Albums</h2>
        <table class="table">
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Artist
                </th>
                <th>
                    Rating
                </th>
                <th>
                    Price
                </th>
            </tr>
            @foreach (var item in Model.Albums)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.AlbumName, "Details", "Albums", new { id = item.AlbumID }, null)
                    </td>
                    <td>
                        @foreach (var artist in item.AlbumArtists)
                        {
                            @Html.ActionLink(artist.ArtistName, "Details", "Artists", new { id = artist.ArtistID }, null)
                            <br />
                        }
                    </td>
                    @{string AverageAlbumRatings = "N/A";}
                    @{decimal count = 0;}
                    @{decimal SumRatings = 0;}
                    @foreach (var item2 in item.AlbumRatings)
                    {
                        SumRatings += item2.RatingNumber;
                        count += 1;
                        if (count != 0)
                        {
                            AverageAlbumRatings = Decimal.Round((SumRatings / count), 1).ToString();
                        }
                    }
                    <td>@AverageAlbumRatings</td>
                    <td>
                        @item.AlbumPrice
                    </td>
                </tr>
            }

        </table>

        <h2>Artists</h2>
        <table class="table">
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Rating
                </th>
            </tr>
            @foreach (var item in Model.Artists)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.ArtistName, "Details", "Artists", new { id = item.ArtistID }, null)
                    </td>
                    @{string AverageArtistRatings = "N/A";}
                    @{decimal count = 0;}
                    @{decimal SumRatings = 0;}
                    @foreach (var item2 in item.ArtistRatings)
                    {
                        SumRatings += item2.RatingNumber;
                        count += 1;
                        if (count != 0)
                        {
                            AverageArtistRatings = Decimal.Round((SumRatings / count), 1).ToString();
                        }
                    }
                    <td>@AverageArtistRatings</td>
                </tr>
            }

        </table>

}

