@using Team1_Final_Project.Models.Music;
@model MusicViewModel

@{
    ViewBag.Title = "Search Index";
}

<h2>Music Search</h2>

@using (Html.BeginForm())
{
    <p class="form-group">
        Search: @Html.TextBox("SearchString", null, new { @class = "form-control" }) <br />
        <input type="submit" value="Search" class="btn btn-default" />
        @Html.ActionLink("Advanced Search", "DetailedSearch", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Show All", "Index", null, new { @class = "btn btn-default" })
    </p>
    <p>
        @*still need to add the numberselectedsongs and the controller search functionality*@
        Displaying @ViewBag.NumberSelectedSongs of @ViewBag.NumberAllSongs songs.
    </p>
}


<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Artists
        </th>
        <th>
            Album
        </th>
        <th>
            Price
        </th>
        <th>
            Genre(s)
        </th>
    </tr>

    @foreach (Song song in Model.Songs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => song.SongName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => song.SongArtists)
            </td>

            <td>
                @Html.DisplayFor(modelItem => song.SongAlbum)
            </td>

            <td>
                @Html.DisplayFor(modelItem => song.SongPrice)
            </td>

            <td>
                @Html.DisplayFor(modelItem => song.SongGenres)
            </td>
        </tr>
    }

</table>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Artists
        </th>
        <th>
            Price
        </th>
        <th>
            Genre(s)
        </th>
    </tr>

    @foreach (Album album in Model.Albums)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => album.AlbumName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => album.AlbumArtists)
            </td>

            <td>
                @Html.DisplayFor(modelItem => album.AlbumPrice)
            </td>

            <td>
                @Html.DisplayFor(modelItem => album.AlbumGenres)
            </td>
        </tr>
    }

</table>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Genre(s)
        </th>
    </tr>

    @foreach (Artist artist in Model.Artists)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => artist.ArtistName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => artist.ArtistGenres)
            </td>
        </tr>
    }

</table>



