@model IEnumerable<Team1_Final_Project.Models.Music.Song>

@{
    ViewBag.Title = "SongSearchIndex";
}

<h2>Song Search Index</h2>

@* managers only?
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<br />
    Displaying @ViewBag.ResultsCount of @ViewBag.TotalCount Records
<br /> <br />
<!--Create Table-->
<table class="table table-bordered">
    <tr>
        <th>
            Song Title
        </th>
        <th>
            Artist
        </th>
        <th>
            Rating
        </th>
        <th>
            Price
        </th>
    </tr>
@using (Html.BeginForm("SongAdvancedSearchResults", "Music", FormMethod.Get))
{
    foreach( var item in Model)
    {
        <tr>
            <td>@Html.ActionLink(item.SongName, "SongDetail", "Music", new { item.SongID }, null)</td>

            @{string StrSongArtists = "";}
            @{int count2 = 0;}
            @foreach (var item2 in item.SongArtists)
            {
                StrSongArtists += item2.ArtistName;
                count2 += 1;
                if (count2 > 1)
                {
                    StrSongArtists += ", ";
                }
            }
            <td>@StrSongArtists</td>

            @{string StrSongRatings = "";}
            @{int count = 0;}
            @foreach (var item2 in item.SongRatings)
            {
                StrSongRatings += Convert.ToString(item2.RatingNumber);
                count += 1;
                if (count > 1)
                {
                    StrSongRatings += ", ";
                }

            }
            <td>@StrSongRatings</td>

            <td>@item.SongPrice</td>
            @*<td>@Html.ActionLink("Delete", "Delete", new { id = item.CreditCardID })</td>*@
        </tr>
    }
}
    
</table>