@using Team1_Final_Project.Models.Identity
@using Microsoft.AspNet.Identity;
@model Team1_Final_Project.Models.Identity.AppUser


<!--Added library to add sort functionality to customer song + album library (not tested)-->
<script src="sorttable.js"></script>

@{
    ViewBag.Title = "Customer Dashboard";

}

@{
    AppDbContext db = new AppDbContext();
    //Find associated Member
    AppUser UserToChange = db.Users.Find(User.Identity.GetUserId());

}

<style>
    div.rightContent {
        min-height: 400px;
        border-left: 1px solid gray;
        float: left;
    }
</style>

<h2>@ViewBag.SuccessMessage</h2>
<h2>Welcome to your Customer Dashboard, @Html.DisplayFor(model => model.FName)!</h2><br />

<div class="col-md-6">
    <h4>Order History</h4>
    <p>Click the button below to view all the orders you have placed.</p>
    <a class="btn btn-primary" href="/Orders/Index">Order History</a>
    <br /><br />

    <h4>Credit Card Information</h4>
    <p>Click the buttons below to view existing credit cards or add a new credit card to your account. You can have up to two. You currently have @Html.DisplayTextFor(model => model.CreditCards.Count).</p>
    <a class="btn btn-primary" href="/CreditCards/Details">View Credit Card Information</a>
    <a class="btn btn-primary" href="/CreditCards/Create">Add Credit Card Information</a>
    <br /><br />

    <h4>Edit Personal Information</h4>
    <p>Click the buttons below to edit your personal information.</p>
    @Html.ActionLink("Edit Information", "Edit", "Members", new { id = User.Identity.GetUserId() }, new { @class = "btn btn-primary" })
    <a class="btn btn-primary" href="/Account/ChangePassword">Change Password</a>
    <br /><br />
    <h4>See My Reviews</h4>
    <p>Click the buttons below to see and edit all the reviews you created.</p>
    <a class="btn btn-primary" href="/Ratings/Index">See My Reviews</a>

</div>

<div class="col-md-6 rightContent">
    <h4>View My Music Library</h4>
    <p>Click the button below to view your music library.</p>
    @Html.ActionLink("Music LIbrary", "CustomerLibrary", "Account", new { id = User.Identity.GetUserId() }, new { @class = "btn btn-primary" })
</div>