@using Team1_Final_Project.Models.Identity
@using Team1_Final_Project.Models.Purchases
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
    AppDbContext db = new AppDbContext();
    AppUser userLoggedIn = db.Users.Find(User.Identity.GetUserId());
}

<h2>Credit Card Information</h2>

<div>
    <h4>Credit Cards</h4>
    <hr />

    @foreach (CreditCard card in userLoggedIn.CreditCards) {
    <dl class="dl-horizontal">
        <dt>
            Credit Card Info
        </dt>

        <dd>
            **** **** **** @card.CreditCardNumber.Substring(@card.CreditCardNumber.Length - 4) @card.CreditCardType.ToString()
        </dd>
        <dt>
            @Html.ActionLink("Edit", "Edit", new { id = card.CreditCardID }) |
        </dt>
        <dd></dd>
    </dl>
    }
</div>


<p>
    @Html.ActionLink("Back to List", "Index")
</p>
