@using Microsoft.AspNet.Identity
@using Team1_Final_Project.Models.Identity
@{ 
    AppDbContext db = new AppDbContext();
    int CountItems = 0;
    if (Request.IsAuthenticated)
    {
        AppUser userLoggedIn = db.Users.Find(User.Identity.GetUserId());
        

        if (userLoggedIn.SongsInShoppingCart.Count() > 0 || userLoggedIn.AlbumsInShoppingCart.Count() > 0)
        {
            
                int CountSongsInShoppingCart = userLoggedIn.SongsInShoppingCart.Count();
                int CountAlbumsInShoppingCart = userLoggedIn.AlbumsInShoppingCart.Count();
                int CountItemsInShoppingCart = CountSongsInShoppingCart + CountAlbumsInShoppingCart;
                CountItems += CountItemsInShoppingCart;

        } else
        {

            CountItems = 0;
        }

    }
    // this code will work once we have a shopping cart:


    }
@if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-left">
        
        @*<li><a href="~/Views/ShoppingCarts/Index">Cart (0)</a></li>*@
        <li>@Html.ActionLink("Cart" + " (" + string.Format("{0}", CountItems) + ")", "ShoppingCartIndex", "ShoppingCarts", null, null)</li>
        @*<li><a href="~/Views/ShoppingCarts/Index">Cart (<span> @string.Format("{0}", CountItems) </span>)</a></li>*@

    </ul>
    <ul class="nav navbar-nav navbar-right">
      
        
        <li>
            @*//TODO: Current link takes you to change password page - you may want to modify this to go somewhere else*@
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "ChangePassword", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>@Html.ActionLink("Manage Roles", "Index", "RoleAdmin")</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        
    </ul>
}
