@using Microsoft.AspNet.Identity
@using Team1_Final_Project.Models.Identity
@{ 
    AppDbContext db = new AppDbContext();
    int CountItems = 0;
    if (Request.IsAuthenticated)
    {
        AppUser userLoggedIn = db.Users.Find(User.Identity.GetUserId());
        

        if (userLoggedIn.SongsInShoppingCart.Count() > 0 || userLoggedIn.AlbumsInShoppingCart.Count() > 0)
        {
            
                int CountSongsInShoppingCart = userLoggedIn.SongsInShoppingCart.Count();
                int CountAlbumsInShoppingCart = userLoggedIn.AlbumsInShoppingCart.Count();
                int CountItemsInShoppingCart = CountSongsInShoppingCart + CountAlbumsInShoppingCart;
                CountItems += CountItemsInShoppingCart;

        } else
        {

            CountItems = 0;
        }

    }

    }
@if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-left">
        
        @*<li><a href="~/Views/ShoppingCarts/Index">Cart (0)</a></li>*@
        @if(User.IsInRole("Customer"))
        {
            <li>@Html.ActionLink("Cart" + " (" + string.Format("{0}", CountItems) + ")", "ShoppingCartIndex", "ShoppingCarts", null, null)</li>
        }
        
        @*<li><a href="~/Views/ShoppingCarts/Index">Cart (<span> @string.Format("{0}", CountItems) </span>)</a></li>*@

    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
        @if (User.IsInRole("Manager"))
        {
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "ManagerDashboard", "Account", routeValues: null, htmlAttributes: null)
        }
        else if (User.IsInRole("Employee"))
        {
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "EmployeeDashboard", "Account", routeValues: null, htmlAttributes: null)

        }
        else if (User.IsInRole("Customer"))
        {
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "CustomerDashboard", "Account", routeValues: null, htmlAttributes: null)

        } else
        {
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Home", routeValues: null, htmlAttributes: null)
        }
        </li>
        @*need to add an if statement here once we are done managing roles so that only an admin can manage roles*@
        <li>@Html.ActionLink("Manage Roles", "Index", "RoleAdmin")</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        
    </ul>
}