@model Team1_Final_Project.Models.Rating.MusicRating
@using Microsoft.AspNet.Identity
@using Team1_Final_Project.Models.Identity

@{
    ViewBag.Title = "Details";
    // add dbcontext
    AppDbContext db = new AppDbContext();
    AppUser userLoggedIn = db.Users.Find(User.Identity.GetUserId());
}

<h2>Details</h2>

<div>
    <h4>MusicRating</h4>
    <hr />

    @foreach (var item in userLoggedIn.Ratings)
    {
        <tr>
            <td>
                @item.RatingNumber
            </td>
            <td>
                @item.Review
            </td>
            <td>
            @if (item.ReviewedAlbum != null)
            {
                @Html.ActionLink("Edit Review", "Ratings", "EditAlbumReview", new { id = item.MusicRatingID })
            }
            @if (item.ReviewedArtist != null)
            {
                @Html.ActionLink("Edit Review", "Ratings", "EditArtistReview", new { id = item.MusicRatingID })    
            }
            @if (item.ReviewedSong != null)
            {
                @Html.ActionLink("Edit Review", "Ratings", "EditSongReview", new { id = item.MusicRatingID })
            }
            </td>
        </tr>
    }


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RatingNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatingNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Review)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Review)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MusicRatingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
