@model IEnumerable<Team1_Final_Project.Models.Rating.MusicRating>
@using Microsoft.AspNet.Identity
@using Team1_Final_Project.Models.Identity

@{
    ViewBag.Title = "Index";
    // add dbcontext
    AppDbContext db = new AppDbContext();
    AppUser userLoggedIn = db.Users.Find(User.Identity.GetUserId());
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Item Reviewed
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Review)
        </th>
        <th>
            Edit Review
        </th>
        <th>
            Delete Review
        </th>
    </tr>

    @foreach (var item in userLoggedIn.Ratings)
    {
        <tr>
            <td>
                @if (item.ReviewedAlbum != null)
                {
                    @Html.ActionLink(item.ReviewedAlbum.AlbumName, "Details", "Albums", new { id = item.ReviewedAlbum.AlbumID }, null)
                }
                @if (item.ReviewedArtist != null)
                {
                    @Html.ActionLink(item.ReviewedArtist.ArtistName, "Details", "Artists", new { id = item.ReviewedArtist.ArtistID }, null)
                }
                @if (item.ReviewedSong != null)
                {
                    @Html.ActionLink(item.ReviewedSong.SongName, "Details", "Songs", new { id = item.ReviewedSong.SongID }, null)
                }
            </td>
            <td>
                @Decimal.Round(item.RatingNumber, 1)
            </td>

            <td>
                @item.Review
            </td>

            <td>
                @if (item.ReviewedAlbum != null)
                {
                    @Html.ActionLink("Edit Review", "EditAlbumReview", new { id = item.MusicRatingID })
                }
                @if (item.ReviewedArtist != null)
                {
                    @Html.ActionLink("Edit Review", "EditArtistReview", new { id = item.MusicRatingID })
                }
                @if (item.ReviewedSong != null)
                {
                    @Html.ActionLink("Edit Review", "EditSongReview", new { id = item.MusicRatingID })
                }
            </td>

            <td>
                @Html.ActionLink("Delete Review", "Delete", new { id = item.MusicRatingID })
            </td>
        </tr>
    }
</table>
