@model Team1_Final_Project.Models.Purchases.Discount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Discount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiscountAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActiveDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActiveDiscount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DiscountID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
