@model Team1_Final_Project.Models.Music.Album
@using Microsoft.AspNet.Identity
@using Team1_Final_Project.Models.Identity
@using Team1_Final_Project.Models.Purchases

@{
    ViewBag.Title = "Details";
    AppDbContext db = new AppDbContext();
    AppUser userLoggedIn = db.Users.Find(User.Identity.GetUserId());
    decimal TotalDiscounts = 0.0m;
    foreach (Discount discount in Model.AlbumDiscounts )
    {
        if (discount.IsActiveDiscount)
        {
            TotalDiscounts += discount.DiscountAmount;

        }

    }
    decimal SalePrice = Model.AlbumPrice - TotalDiscounts;
}

<h2>Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlbumName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumPrice)
        </dd>

        <dt>
            Album Discounts
        </dt>

        <dd>
            @TotalDiscounts
        </dd>

        <dt>
            Sale Price
        </dt>

        <dd>
            @SalePrice
        </dd>

        <dt>
            Album Rating
        </dt>

        @{string AverageAlbumRatings = "N/A";}
        @{decimal count = 0;}
        @{decimal SumRatings = 0;}
        @foreach (var item in Model.AlbumRatings)
            {
                SumRatings += item.RatingNumber;
                count += 1;
                if (count != 0)
                {
                    AverageAlbumRatings = Decimal.Round((SumRatings / count), 1).ToString();
                }
            }
        <dd>@AverageAlbumRatings</dd>

    </dl>

    <!--Create Table-->
    <table class="table table-bordered">
        <tr>
            <th>
                Reviews
            </th>
        </tr>
        @{decimal count4 = 0;}
        @foreach (var item in Model.AlbumRatings)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Review)</td>
            </tr>
            count4 += 1;
        }
        @if (count4 == 0)
            {
            <tr>
                <td>N/A</td>
            </tr>
        }
    </table>



    <!--Create Table-->
    <table class="table table-bordered">
        <tr>
            <th>
                Genre
            </th>
        </tr>
        @foreach (var item in Model.AlbumGenres)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.GenreName)</td>
            </tr>
        }
    </table>

    <!--Create Table-->
    <table class="table table-bordered">
        <tr>
            <th>
                Artist Name
            </th>
        </tr>
        @foreach (var item in Model.AlbumArtists)
        {
            <tr>
                <td>@Html.ActionLink(item.ArtistName, "Details", "Artists", new { id = item.ArtistID }, null)</td>
            </tr>
        }
    </table>

    <!--Create Table-->
    <table class="table table-bordered">
        <tr>
            <th>
                Songs
            </th>
        </tr>
        @foreach (var item in Model.AlbumSongs)
        {
            <tr>
                <td>@Html.ActionLink(item.SongName, "Details", "Songs", new { id = item.SongID }, null)</td>
            </tr>
        }
    </table>

</div>
<p>
    @if (userLoggedIn != null)
    {
        bool Found = true;
        foreach (var item in Model.AlbumSongs)
        {
            if (userLoggedIn.Songs.Any(a => a.SongID == item.SongID))
            {
                //keep going through the loop
                Found = Found;
            }
            else
            {
                Found = false;
            }
        }

        if (userLoggedIn.Albums.Any(a => a.AlbumID == Model.AlbumID) || Found == true )
        {
            @Html.ActionLink("Add Review of Album", "AddAlbumReview", "Ratings", new { id = Model.AlbumID }, null)
        }
        else
        {
            @Html.ActionLink("Add To Shopping Cart", "AddAlbum", "ShoppingCarts", new { AlbumID = Model.AlbumID }, null)
        }
    }

    <br /><br />
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
