@model Team1_Final_Project.Models.Music.Album

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlbumName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumDiscount)
        </dd>

    </dl>

    <!--Create Table-->
    <table class="table table-bordered">
        <tr>
            <th>
                Genre Title
            </th>
        </tr>
        @foreach (var item in Model.AlbumGenres)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.GenreName)</td>
            </tr>
        }
    </table>



</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
