
@using Microsoft.AspNet.Identity
@using Team1_Final_Project.Models.Identity
@using Team1_Final_Project.Models.Purchases

@model IEnumerable<Team1_Final_Project.Models.Music.Album>

@{
    ViewBag.Title = "Index";


}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AlbumName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlbumPrice)
        </th>
        
    </tr>

@foreach (var item in Model) {
    decimal SongPricePostDiscounts = item.AlbumPrice;

    // calculate total discounts
    foreach (Discount discount in item.AlbumDiscounts)
    {
        if (discount.IsActiveDiscount)
        {
            SongPricePostDiscounts = SongPricePostDiscounts * (1 - discount.DiscountPercentage);

        }

    }
    decimal SalePrice = SongPricePostDiscounts;
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AlbumName)
        </td>
        @if (SalePrice != item.AlbumPrice)
        {
            <td style="color:green">
                @String.Format("{0:C}", SalePrice)
            </td>
        }
        else
        {
            <td>
                @String.Format("{0:C}", SalePrice)
            </td>
        }
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AlbumID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AlbumID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AlbumID })
        </td>
    </tr>
}

</table>
