@model Team1_Final_Project.Models.Purchases.Order

@{
    ViewBag.Title = "Details";
}

<h2>Order Details</h2>

<div>
    <h4>Songs in Order</h4>
    <dl class="dl-horizontal">
        <dt>
            Song
        </dt>
        <dt>
            Artist
        </dt>
        <dt>
            Album
        </dt>
        <dt>
            Price
        </dt>

        @foreach (var item in Model.SongsInOrder)
        {
            <dd>
                @Html.DisplayFor(model => item.Song)
            </dd>
            <dd>
                @Html.DisplayFor(model => item.Song.SongArtists)
            </dd>
            <dd>
                @Html.DisplayFor(model => item.Song.SongAlbums)
            </dd>
            <dd>
                @Html.DisplayFor(model => item.PriceAtPointOfPurchase)
            </dd>
        }
    </dl>

    <h4>Songs in Order</h4>
    <dl class="dl-horizontal">
        <dt>
            Album
        </dt>
        <dt>
            Artist
        </dt>
        <dt>
            Genre
        </dt>
        <dt>
            Price
        </dt>

        @foreach (var item in Model.AlbumsInOrder)
        {
            <dd>
                @Html.DisplayFor(model => item.Album)
            </dd>
            <dd>
                @Html.DisplayFor(model => item.Album.AlbumArtists)
            </dd>
            <dd>
                @Html.DisplayFor(model => item.Album.AlbumGenres)
            </dd>
            <dd>
                @Html.DisplayFor(model => item.PriceAtPointOfPurchase)
            </dd>
        }
    </dl>

</div>
<p>
    <!--Is edit necessary?-->
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) | 
    @Html.ActionLink("Back to List", "Index")
</p>
