@model Team1_Final_Project.Models.Purchases.Order

@{
    ViewBag.Title = "Details";
}

<h2>Order @Model.OrderID Details</h2>

<br />

    <h4>Songs in Order</h4>
    <table class="table">
        <tr>
            <th>
                Song
            </th>
            <th>
                Artist
            </th>
            <th>
                Album
            </th>
            <th>
                Price
            </th>
        </tr>

        @foreach (var item in Model.SongsInOrder)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Song.SongName)
                </td>

                @foreach (var item2 in item.Song.SongArtists)
                { 
                    <td>
                        @Html.DisplayFor(model => item2.ArtistName)
                    </td>
                }
                @foreach (var item3 in item.Song.SongAlbums)
                { 
                <td>

                    @Html.DisplayFor(model => item3.AlbumName)
                </td>
                }

                <td>
                    @Html.DisplayFor(model => item.PriceAtPointOfPurchase)
                </td>
            </tr>
        }

    </table>

    <br />

    <h4>Albums in Order</h4>
    <table class="table">
        <tr>
            <th>
                Album
            </th>
            <th>
                Artist
            </th>
            <th>
                Genre
            </th>
            <th>
                Price
            </th>
        </tr>

        @foreach (var item in Model.AlbumsInOrder)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Album.AlbumName)
                </td>
                @foreach (var item2 in item.Album.AlbumArtists)
                {
                    <td>
                        @Html.DisplayFor(model => item2.ArtistName)
                    </td>
                }

                @foreach (var item3 in item.Album.AlbumGenres)
                { 
                    <td>
                        @Html.DisplayFor(model => item3.GenreName)
                    </td>
                }
                <td>
                    @Html.DisplayFor(model => item.PriceAtPointOfPurchase)
                </td>
            </tr>
        }

    </table>

<p>
    <!--Is edit necessary?-->
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) | 
    @Html.ActionLink("Back to List", "Index")
</p>
