@model Team1_Final_Project.Models.Purchases.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <!--Purchased Songs & Albums-->
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dt>
            <!--Prices for them-->
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            <!--Purchased songs/albums-->
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dd>
            <!--Prices for songs/albums-->
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
    </dl>
</div>
<p>
    <!--Is edit necessary?-->
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) | 
    @Html.ActionLink("Back to List", "Index")
</p>
