@using Team1_Final_Project.Models.Purchases
@using Team1_Final_Project.Models.Identity
@using Microsoft.AspNet.Identity;

@model IEnumerable<Team1_Final_Project.Models.Purchases.Order>

@{
    ViewBag.Title = "Index";
    AppDbContext db = new AppDbContext();
    AppUser userLoggedIn = db.Users.Find(User.Identity.GetUserId());


}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            OrderID 
        </th>
            Credit Card
        <th>
            CreditCardType
        </th>
        <th>
            Total Price
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @{
                var LastFourCreditCard = item.CreditCardUsed;
                string FormattedCreditCardUsed = "**** **** ****" + LastFourCreditCard.CreditCardNumber.Substring(-4);
                // need a viewbag.recipientID when calling this view
            }
            @Html.DisplayFor(modelItem => LastFourCreditCard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditCardUsed.CreditCardType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.OrderID }) |
            @Html.ActionLink("Refund", "Refund", new { id=item.OrderID })
        </td>
    </tr>
}

</table>
