@using Team1_Final_Project.Models.Purchases
@using Team1_Final_Project.Models.Identity
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
    AppDbContext db = new AppDbContext();
    AppUser userLoggedIn = db.Users.Find(User.Identity.GetUserId());
}

<h2>Order History</h2>


<table class="table">
    <tr>
        <th>
            OrderID 
        </th>
        <th>
            Credit Card
        </th>
        <th>
            Credit Card Type
        </th>
        <th>
            Total Price
        </th>
        <th></th>
    </tr>

    @{ 
        var query = from c in userLoggedIn.Orders orderby c.OrderID descending select c;
        List<Order> OrderList = query.ToList(); 
    }

@foreach (var item in OrderList)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @{
                string CreditCard = item.CreditCardUsed.CreditCardNumber;
                string FormattedCreditCardUsed = "**** **** **** " + CreditCard.Substring(CreditCard.Length-4);
            }
            @Html.DisplayFor(modelItem => FormattedCreditCardUsed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditCardUsed.CreditCardType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.OrderID }) |
            @Html.ActionLink("Refund", "Refund", new { id=item.OrderID })
        </td>
    </tr>
}

</table>
